@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


.BackgroundImage{
    background-image: url(/background_fcz.jpg);
    height: 100vh;
    background-repeat: none;
    background-size: cover;
    padding-bottom: 50vh;
}

.iframe{
    height: 20rem;
    width: 50%;
}

.video{
    text-align: center;
    padding-top: 2rem;
}

.TrikotTrailerTitle{
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    margin-top: 0;
    font-size: 4rem;
}